# Supabase Credentials for Library & Book Storage
VITE_SUPABASE_URL=https://cgrjpbgfjhcqxipkkejn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_VLu17OwlVuEFLiMP58hxkw_PXGR6yS0

# Google Analytics Tracking ID
VITE_GA_TRACKING_ID=G-WJCDLP5E8L
